{% if settings.cart_drawer_collection != blank %}
  {% assign featured_collection = collections[settings.cart_drawer_collection] %}

  {% if featured_collection.products.size > 0 %}
    <div class="cart-product-collections">
      <div class="swiper swiper-cart-drawer">
        <div class="swiper-wrapper">

          {% for product in featured_collection.products limit: 4 %}
            <div class="swiper-slide">
              <div class="carousel-cell">
                
                <div class="product_block">
                    <a href="{{ product.url }}">
                    <div class="inner-grid"> 
                        <div class="image-product">
                        <img
                            class="product-img"
                            src="{{ product.featured_image | image_url: width: 300 }}"
                            alt="{{ product.title }}"
                            loading="lazy"
                        >
                        </div>
                        <div class="product_detail">
                        <h3>{{ product.title }}</h3>
                        {% comment %} {% if product.options_with_values.size > 0 %}
                            <span>{{ product.options_with_values[0].name }} : {{ product.options_with_values[0].values[0] }}</span>
                        {% endif %} {% endcomment %}
                        </div>
                        <button
                  class="add_to_cart"
                  data-item-quantity="1"
                  data-variant-id="{{ product.first_available_variant.id }}"
                  type="button"
                >
                 <span>ADD</span>
                </button>
                     </div>
                       </a>
                </div>

                

              </div>
            </div>
          {% endfor %}

        </div>

    
      </div>
    </div>
  {% endif %}
{% endif %}


<script>
    var swiper = new Swiper(".swiper-cart-drawer", {
      slidesPerView: 1.25,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>


