{% comment %}
  Renders a megamenu for the header
  Triggered ONLY by menu item handle
{% endcomment %}
<nav class="header__inline-menu header-mega__menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {% assign is_mega = nil %}
        {% assign link_name = link.title | escape | downcase | replace: ' ', '-' %}

        {% for block in section.blocks %}
          {% assign trigger = block.settings.mega_menu_trigger | downcase | replace: ' ', '-' %}
          {% if trigger == link_name %}
            {% assign is_mega = block %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% if is_mega %}
          <header-menu>
            <details class="mega-menu">
              <summary class="header__menu-item list-menu__item link focus-inset">
                <span>{{ link.title | escape }}</span>
                {{ 'icon-caret.svg' | inline_asset_content }}
              </summary>

              <div class="mega-menu__content color-{{ section.settings.menu_color_scheme }}">
                <div class="mega-menu__wrapper page-width">
                  <div class="heading_menu_wrapper">
                    {% for i in (0..5) %}
                      {% assign heading_key = 'heading_' | append: i %}
                      {% assign link_key = 'heading_link_' | append: i %}
                      {% assign menu_key = 'menu_' | append: i %}
                      {% if i == 0 %}
                        {% assign heading_key = 'heading' %}
                        {% assign link_key = 'heading_link' %}
                        {% assign menu_key = 'menu' %}
                      {% endif %}
                      {% if is_mega.settings[menu_key] != blank %}
                        <div class="header_mega-menu">
                          <div class="menu_heading">
                            {% if is_mega.settings[heading_key] != blank %}
                              {% if is_mega.settings[link_key] != blank %} 
                                <a href="{{ is_mega.settings[link_key] }}">
                                  {{ is_mega.settings[heading_key] }}
                                </a>
                                {% else %}
                                <span>{{ is_mega.settings[heading_key] }}</span>
                              {% endif %}
                            {% endif %}
                          </div>

                          <ul class="list-menu" role="list">
                            {% for item in is_mega.settings[menu_key].links %}
                              <li>
                                <a
                                  href="{{ item.url }}"
                                  class="header__menu-item list-menu__item link link--text focus-inset"
                                >
                                  {{ item.title }}
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  {% if is_mega.settings.image != blank %}
                    <div class="promo_bar">
                      <a href="{{ is_mega.settings.link }}">
                        <img
                          src="{{ is_mega.settings.image | img_url: 'master' }}"
                          alt="{{ is_mega.settings.image.alt }}"
                          loading="lazy"
                        >
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </details>
          </header-menu>
        {% else %}
          <a
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}aria-current="page"{% endif %}
          >
            <span {% if link.current %}class="header__active-menu-item"{% endif %}>
              {{ link.title | escape }}
            </span>
          </a>
        {% endif %}
      </li>
    {%- endfor -%}
  </ul>
</nav>