{% assign sizes = product.metafields.custom.product_sizes.value %}
{% comment %} {% assign sizes = product.variants %} {% endcomment %}

    {% if sizes.size > 1 %}
    <div class="custom_sizes-popup_wrapper">
      <div class="custom_sizes_popup">
        <span class="compare_size_btn">close</span>
            <div class="popup_main-header popup_images-{{ sizes.size }}">
                {% for size in sizes %}
                    {% if size.product_name.value != blank %}<h4 class="popup-title">{{ size.product_name.value}}{% endif %}</h4>
            {% endfor %}
            </div>
        <div class="popup_images_wrapper popup_images-{{ sizes.size }}">
            {% for size in sizes %}
                <div class="popup-image">
                    {% if size.popup_image != blank %}
                        <img src="{{ size.popup_image | img_url: 'master' }}">
                    {% endif %}
                </div>    
            {% endfor %}
        </div>
        <table>
            <tr>
                <th></th>
                {% for size in sizes %}
                    <th>{% if size.popup_text.value != blank %}{{size.popup_text.value}}{% endif %}</th>
                {% endfor %}
            </tr>
            <tr class="dimension">
                <td>Dimension</td>
                {% for size in sizes %}
                    <td>{% if size.dimensions.value != blank %}{{size.dimensions.value | replace: ';', ' ;<br>' | newline_to_br }}{% endif %}</td>
                {% endfor %}
            </tr>
            <tr class="weight">
                <td>Weight</td>
                {% for size in sizes %}
                       <td>{% if size.weight.value != blank %}{{size.weight.value}}{% endif %}</td>
                {% endfor %}
            </tr>
            <tr class="fits">
                <td>Fits</td>
                {% for size in sizes %}
                    {% if size.fits_text or size.fits_text != blank %}
                        <td class="fits_wrapper">
                            <div class="fits_content_wrapper">
                                <span class="fits_image"><img src="{{ size.fits_icon | img_url: 'master' }}"></span>
                                <span class="fits_text">{{ size.fits_text }}</span>
                            </div>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr class="trolley_zipper">
                <td>Luggage trolley zipper</td>
            {% for size in sizes %}
                <td>{%if size.luggage_trolley_zipper %}{% render 'true_icon'%}{% endif %}</td>
                {% endfor %}
            </tr>
            <tr class="crossbody_strap">
                <td>Crossbody strap</td>
            {% for size in sizes %}
                <td>{%if size.crossbody_strap %}{% render 'true_icon'%}{% endif %}</td>
                {% endfor %}
            </tr>
            </table>
      </div>
    </div>
    {% endif %}