<section class="design-ethos section-{{ section.id }}-padding {{ section.settings.addclass }} ">
  <div class="page-width">
  <div class="ethos-header">
    <h2>{{ section.settings.section_title }}</h2>
    <a href="{{ section.settings.header_link }}" class="ethos-link">
      {{ section.settings.header_link_text }}
    </a>
  </div>

  <div class="swiper ethos-swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="ethos-item">

            {% if block.settings.image %}
              <a href="{{ block.settings.overlay_link }}">
              <img src="{{ block.settings.image | image_url: width: 2000 }}" alt="" class="smart-design-desktop">
              </a>
            {% endif %}
            {% if block.settings.mobile-design-image %}
              <a href="{{ block.settings.overlay_link }}">
              <img src="{{ block.settings.mobile-design-image | image_url: width: 351 }}" alt="" class="smart-design-mobile">
              </a>
            {% endif %}
            <!-- Product card -->
            <div class="product-card">
              <div class="product-title">{{ block.settings.product_title }} 
                <p class="product-rating">★★★★★(17)</p>
                 <div class="product-rating-wrapper"><div data-bv-show="inline_rating" data-bv-product-id="{{ product.id }}" data-bv-redirect-url="{{ shop.secure_url }}{{ product.url }}" data-bv-seo="false"></div></div>

            </div>
             
              <p class="product-price">{{ block.settings.product_price }}</p>
              <a href="{{ block.settings.product_link }}" class="product-btn">
                Shop now
              </a>
            </div>

            <!-- Center overlay -->
            <div class="overlay">
                {% if block.settings.overlay_title != blank %}
              <h3>{{ block.settings.overlay_title }}</h3>
              {% endif %}
               {% if block.settings.overlay_content != blank %}
              <p class="large-up-hide medium-hide">{{ block.settings.overlay_content }}</p>
              {% endif %}
            {% if block.settings.overlay_link != blank %}
              <a href="{{ block.settings.overlay_link }}" class="overlay-btn {% if block.settings.enable_border %}overlay-btn--border{% endif %}" >
                {{ block.settings.overlay_button }}
              </a>
              {% endif %}
            </div>

          </div>
        </div>
      {% endfor %}
    </div>
    </div>
  </div>
</section>



<style>

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{% comment %} .design-ethos {
  padding: 7.8px 20px 96px;
} {% endcomment %}
.homedesign_bottom{
  padding-left:0;
  padding-right:0;
  padding-bottom:0;
}
.ethos-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:26px;
}
.ethos-link {
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0;
    text-align: right;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0;
    text-decoration-thickness: 0;
    color: #949494;
}
.product-rating {
    margin: 0px 0 1px;
    font-weight: 500;
    font-size: 18px;
    line-height: 115.99999999999999%;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
}
.design_ethos_custom .ethos-header h2 {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  margin: 0;
}

.ethos-swiper {
  width: 100%;
}

.swiper-slide {
  height: auto;
}

.ethos-item {
  position: relative;
  overflow: hidden;
}

.ethos-item img {
  width: 100%;
  height: 100%;
  display:block;
  object-fit: cover;
  transition: .5s ease-in-out;
}
.ethos-item img:hover {
    transform: scale(1.1);
}
.overlay {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.overlay h3 {
  font-weight: 500;
  font-size: 68px;
  line-height: normal;
  letter-spacing: -0.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  color:#fff;
}
.overlay p {
    font-weight: 500;
    font-size: 9.51px;
    line-height: 105%;
    letter-spacing: 0;
    text-align: center;
    padding: 0 23px;
    margin:4px 0;
}
.overlay-btn {
  font-size: 12px;
  padding: 6px 12px;
  color: #fff;
  text-decoration: none;
  border:none;
}
.overlay-btn--border {
    border: 1px solid #ffffff;
  }
.overlay-btn:hover{
  background:#000;
  border-color:#000;
}
.ethos-item .product-card {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #fff;
  padding: 12px 15px 12px 12px;
  border-radius: 6px;
  max-width: 126px;
  text-align: left;
  box-sizing : border-box;
}

.product-title {
    font-size: 12px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color: #1F1F1F;
}

.product-price {
    font-size: 12px;
    line-height: normal;
    margin: 1px 0;
    color: #1F1F1F;
    margin-bottom:6px;
}

.product-btn {
    font-size: 12px;
    border: 1px solid #1F1F1F;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
}
.product-btn:hover{
  background: #000;
  color:#fff; 
}
.homedesign_bottom .product-card {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 342px;
    column-gap: 19px;
    justify-content: space-between;
    padding: 20px;
    top:10px;
    left:10px;
}
.homedesign_bottom .product-title,
.homedesign_bottom .product-price,
.homedesign_bottom .product-btn{
    font-size: 14px;
    letter-spacing: -0.4px;
    line-height: 95%;
}
.homedesign_bottom .product-rating{
    width: fit-content;
    margin-bottom: 0;
    line-height: 16px;
}
.ethos-swiper:not(.swiper-initialized ) > .swiper-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  box-sizing: border-box;
}

.ethos-swiper:not(.swiper-initialized ) > .swiper-wrapper > .swiper-slide{
  display:block;
  width: 100%;
  max-width: calc(100% / 2);
}
.design_ethos_custom .smart-design-mobile {
  display: none;
}

@media screen and (max-width: 990px) {
.design-ethos .overlay h3 {
    font-size: 40px;
}
}
/* Mobile */
@media (max-width: 749px) {
  .design-ethos.design_ethos_custom {
    padding-bottom: 56px;
}
  .overlay h3 {
    font-size: 40px;
    letter-spacing: -0.05rem;
    margin: 4px 0;
  }
  .product-card{
    display:none;
  }
  .overlay-btn {
    font-size: 8.83px;
    border: 0.68px solid #fff;
    padding: 4px 8px;
    color: #fff;
    text-decoration: none;
    line-height: 115.99999999999999%;
    border-radius: 2.72px;
}
{% comment %} .design-ethos {
    padding: 7.8px 11px 56px;
} {% endcomment %}
.design_ethos_custom .ethos-header h2{
    font-size: 14px ;
    letter-spacing: 0;
    line-height: normal;
}
.ethos-header { 
    margin-bottom: 14px;
}
.homedesign_bottom .product-card {
    top: unset;
    left: unset;
    bottom: 12px;
    right: 12px;
    flex-direction: column;
    max-width: unset;
    width: unset;
    padding: 12px;
}
.homedesign_bottom .product-title,
.homedesign_bottom .product-price,
.homedesign_bottom .product-btn{
  font-size:12px;
}
.homedesign_bottom{
  padding-left:0;
  padding-right:0;
  padding-top: 0;
}
.homedesign_bottom .ethos-header{
  margin:0;
}
.ethos-swiper:not(.swiper-initialized ) > .swiper-wrapper > .swiper-slide{
  display:block;
  width: 100%;
  max-width: 100%;
}
.design_ethos_custom .smart-design-desktop {
    display: none;
}
.design_ethos_custom .smart-design-mobile {
  display: block;
  height: 455px;
}
}

</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.ethos-swiper', {
      slidesPerView: 2,
      spaceBetween: 5,
      loop: false,
      navigation: {
        nextEl: '.ethos-next',
        prevEl: '.ethos-prev'
      },
      breakpoints: {
        0: {
          slidesPerView: 1
        },
        750: {
          slidesPerView: 2
        }
      }
    });
  });
</script>

{% schema %}
{
  "name": "Design Ethos Section",
  "settings": [
    {
      "type": "text",
      "id": "addclass",
      "label": "AddClass"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Heading",
      "default": "DESIGN ETHOS"
    },
    {
      "type": "text",
      "id": "header_link_text",
      "label": "Section Button Label"
    },
    {
      "type": "url",
      "id": "header_link",
      "label": "Section Button Link"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Ethos Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Main Image"
        },
        {
          "type": "image_picker",
          "id": "mobile-design-image",
          "label": "Mobile Image"
        },
        {
          "type": "text",
          "id": "overlay_title",
          "label": "Overlay Heading",
          "default": "SMART DESIGN"
        },
        {
          "type": "inline_richtext",
          "id": "overlay_content",
          "label": "Overlay Content"
        },
        {
          "type": "text",
          "id": "overlay_button",
          "label": "Overlay Button Text",
          "default": "Our Design Philosophy"
        },
        {
          "type": "checkbox",
          "id": "enable_border",
          "label": "Enable button border",
          "default": false
        },
        {
          "type": "url",
          "id": "overlay_link",
          "label": "Overlay Button Link"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product Title"
        },
        {
          "type": "text",
          "id": "product_price",
          "label": "Product Price"
        },
        {
          "type": "url",
          "id": "product_link",
          "label": "Product Link"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Design Ethos",
      "blocks": [
        { "type": "item" },
        { "type": "item" }
      ]
    }
  ]
}
{% endschema %}