{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding-top }}px;
        padding-bottom: {{ section.settings.padding-bottom }}px;
    }
    @media only screen and (max-width: 749px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding-top-mobile }}px;
            padding-bottom: {{ section.settings.padding-bottom-mobile }}px;
    }
}
{%- endstyle -%}
<div class="section-{{ section.id }}-padding gradiant color-{{ section.settings.section_color_scheme }} }}">
    <div class="thankyou-custom page-width center">
            <div class="thankyou-image-container">
                {%- if section.settings.thankyou-image != blank -%}
                    <img src="{{ section.settings.thankyou-image | img_url: 'master' }}" alt="{{ section.settings.thankyou-image.alt }}" class="thanks-image">
                {% endif %}
            </div>
        <div class="items-holder-wrapper">
            {% if section.settings.heading %}
                <h1 class="thanks-heading">{{ section.settings.heading }}</h1>
            {% endif %}
                <div class="thanks-text-container">
                    {% if section.settings.text %}
                        <div class="thanks-text">{{ section.settings.text }}</div>
                    {% endif %}
                        <div class="paragraph-container">
                            {% if section.settings.para %}
                                <div class="thanks-para">{{ section.settings.para }}</div>
                            {% endif %}
                            {% if section.settings.sub-para %}
                                <div class="thanks-para">{{ section.settings.sub-para }}</div>
                            {% endif %}
                                {% if section.settings.button_label != blank %}
                                    <a class="thanks-button" href="{{ section.settings.button_link }}">
                                        {{ section.settings.button_label }}
                                    </a>
                                {% endif %}
                        </div>
                </div>
        </div>
    </div>
</div>



{% schema %}
{
  "name": "Main Thank You Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "thankyou-image",
      "label": "Thankyou Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
    },
    {
        "type": "richtext",
        "id": "para",
        "label": "Paragraph",
    },
    {
        "type":"richtext",
        "id":"sub-para",
        "label":"Sub Paragraph",
    },
    {
        "type": "header",
        "content": "Button Settings"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button Link",
    },
    {
        "type": "header",
        "content": "Padding Settings"
    },
    {
        "type": "number",
        "id": "padding-top",
        "label": "Padding Top",
    },
    {
        "type": "number",
        "id": "padding-bottom",
        "label": "Padding Bottom"
    },
    {
        "type": "number",
        "id": "padding-top-mobile",
        "label": "Padding Top Mobile"
    },
    {
        "type": "number",
        "id": "padding-bottom-mobile",
        "label": "Padding Bottom Mobile"
    }
  ],
    "presets": [
        {
        "name": "Main Thank You Section",
        "category": "Custom Sections"
        }
    ]
}
{% endschema %}