{% assign step_count = 0 %}
{% assign accordion_count = 0 %}

{% for block in section.blocks %}
  {% if block.type == 'step' %}
    {% assign step_count = step_count | plus: 1 %}
  {% endif %}
  {% if block.type == 'accordion' %}
    {% assign accordion_count = accordion_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% style %}
.rewards-banner--{{ section.id }} {
  position: relative;
  overflow: hidden;
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  background-color: {{ section.settings.section_bg }};
}

.rewards-banner--{{ section.id }}.rewards-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.rewards-banner--{{ section.id }}.is-full-width .page-width {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.rewards-banner--{{ section.id }} .rewards-banner__media {
    position: relative;
}
.rewards-banner--{{ section.id }} .rewards-banner__media img {
  display:block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rewards-banner--{{ section.id }} .rewards-banner__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: {{ section.settings.overlay_color }};
  opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
}
.rewards-banner--{{ section.id }} .rewards-banner__inner {
  position: relative;
  z-index: 2;
}
.rewards-banner--{{ section.id }} .rewards-banner__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  height: 100%;
  margin-right: 20px;
  text-transform: uppercase;
}
.rewards-banner--{{ section.id }} .rewards-banner__title {
  font-size: {{ section.settings.title_size_desktop }}px;
  color: {{ section.settings.text_color_desktop }};
  margin: 0;
  text-transform: none;
  margin-bottom: 16px;
  line-height: 100%;
  max-width: 660px;
  margin: 0;
  margin-left: 20px;
  letter-spacing :-0.02em;
}
.rewards-banner--{{ section.id }} .section-top-content:has(.rewards-banner__intro) {
    margin-bottom: 16px;
}
.rewards-banner--{{ section.id }} .rewards-banner__intro {
  font-size: {{ section.settings.intro_size_desktop }}px;
  color: {{ section.settings.text_color_desktop }};
  max-width: 520px;
  margin: 0;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.rewards-banner--{{ section.id }} .rewards-banner__intro > *:first-child{
    margin-top:0;
}
.rewards-banner--{{ section.id }} .rewards-banner__intro > *:last-child{
    margin-bottom:0;
}
 /* .rewards-banner--{{ section.id }} .rewards-banner__steps {
  border-top: 1px solid rgba(0,0,0,0.15);
} */
.rewards-banner--{{ section.id }} .rewards-banner__step {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  border-top: 1px solid rgba(0,0,0,0.15);
  gap: 20px;
}
.rewards-banner--{{ section.id }} .rewards-banner__step span {
  font-size: {{ section.settings.step_font_size_desktop }}px;
  line-height: 1.125;
  color: #1F1F1F;
}
.rewards-banner--{{ section.id }} .rewards-banner__button {
  display: inline-block;
  color: {{ section.settings.button_text_color }};
  font-size: {{ section.settings.button_font_size }}px;
  line-height: 100%;
}

.rewards-banner--{{ section.id }} .section-top-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 12px 0 4px 20px;
}

.rewards-banner--{{ section.id }} .section_top_border{
    border-top: 0.75px solid {{ section.settings.border_top_color }};
}


.rewards-banner__steps .accordion__item[open] .plus-wrapper {
  display: none;
}
.rewards-banner__steps .accordion__item .minus-wrapper {
  display:none;
}
.rewards-banner__steps .accordion__item[open] .minus-wrapper {
  display:inline-flex;
}

.rewards-banner details.accordion__item {
    padding: 13px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.rewards-banner details.accordion__item span {
    font-size: 18px;
    line-height: 1.125;
    text-transform: uppercase;
}
.rewards-banner.rewards_faq .rewards-banner__title {
    width: 462px;
}
.rewards-banner.rewards_faq summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rewards-banner.rewards_faq .accordion__item .svg-wrapper  {
  width: 14px;
  height: 14px;
}
.rewards-banner.rewards_faq .accordion__content p {
    font-size: 16px;
    color: #1F1F1F;
    margin-top: 10px;
    line-height: 1.1;
    width: 100%;
    margin-bottom: 0px;
    text-transform: lowercase;
}
{% assign desktopTitle = section.settings.title_size_desktop %}

@media screen and (max-width:1200px){
    
  .rewards-banner--{{ section.id }} .rewards-banner__title {
    font-size: {{ desktopTitle | times: 0.7 }}px;
  }
}

@media screen and (max-width: 989px){
   .rewards-banner--{{ section.id }} .rewards-banner__step{
        padding: 12px;
   }
}
/* ================================
   MOBILE STYLES
================================ */
@media screen and (max-width: 749px) {
    .rewards-banner--{{ section.id }} .section_top_border{
        border-top: none;
    }
  .rewards-banner--{{ section.id }}.rewards-banner{
    grid-template-columns: 1fr;
  }

  .rewards-banner--{{ section.id }} .rewards-banner__content{
    width: 100%;
    max-width: calc(100% - 30px);
    margin: 0 auto;
    gap: 16px;
  }
  .rewards-banner--{{ section.id }} .rewards-banner__step{
    padding: 14px 0;
  }
  .rewards-banner--{{ section.id }} .section-top-content{
      padding: 12px 0;
    }
  .rewards-banner--{{ section.id }} .section-top-content:has(.rewards-banner__intro){
    margin-bottom: 12px;
  }
  .rewards-banner--{{ section.id }} .rewards-banner__title {
    font-size: {{ section.settings.title_size_mobile }}px;
    color: {{ section.settings.text_color_mobile }};
    margin: 0;
  }

  .rewards-banner--{{ section.id }} .rewards-banner__intro {
    font-size: {{ section.settings.intro_size_mobile }}px;
    color: {{ section.settings.text_color_mobile }};
    text-align:center;
    font-weight:400;
  }

  .rewards-banner--{{ section.id }} .rewards-banner__step span {
    font-size: {{ section.settings.step_font_size_mobile }}px;
    line-height: 1.3em;
  }

  .rewards-banner .rewards-banner__button {
    display: none;
  }

  .rewards-banner {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .rewards-banner.rewards_faq h2.rewards-banner__title {
    border-top: 1px solid #E2E2E2;
    padding-top: 50px;
    padding-bottom: 8px;
  }

  .rewards-banner.rewards_faq {
    padding-top: 14px;
}

  .rewards-banner .rewards-banner__media img {
    max-height: 305px;
  }

  .rewards-image-banner .banner__box .banner__buttons {
    margin-top: 5.2rem;
    max-width: 100%;
  }

  .rewards-image-banner .button.button--primary {
    padding: 21px 75px;
  }

  .banner__content h2.banner__heading.inline-richtext {
    border-top: 1px solid #E2E2E2;
    padding-top: 42px;
     text-transform: uppercase;
  }

  .rewards_tiers_custom .top-content-wrpper {
    margin-top: 24px;
  }
  .rewards_tiers_custom .section-top-content {
    padding-bottom: 0px;
  }
  .rewards_tiers_custom .section-top-content:has(.rewards-banner__intro) {
      margin-bottom: 1px;
  }

  .rewards-banner details.accordion__item span {
    font-size: 16px;
    line-height: 1.2em;
    text-transform: math-auto;
  }
  .rewards-banner details.accordion__item {
    padding: 18px 0px;
  }
  .rewards-banner.rewards_faq .rewards-banner__title {
    width: 100%;
    font-size: 24px;
    color: #1f1f1f;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 0.2rem;
  }
  .rewards-banner.rewards_faq .section-top-content{
    display: none;
  }
  .rewards-banner.rewards_faq .rewards-banner__media {
    display: none;
  }
  .rewards_tiers_custom .rewards-banner__title {
    display: none;
  }

}
{% endstyle %}

<div class="rewards-banner rewards-banner--{{ section.id }} {{ section.settings.custom_class }} {% if section.settings.full_width %}is-full-width{% endif %}">
  <div class="rewards-banner__media">
    <picture>
      {% if section.settings.mobile_image != blank %}
        <source media="(max-width: 749px)" srcset="{{ section.settings.mobile_image | image_url: width: 1000 }}">
      {% endif %}
      <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
    </picture>
    <div class="rewards-banner__overlay"></div>
  </div>


  <div class="{% unless section.settings.full_width %}page-width{% endunless %} rewards-banner__inner">
    <div class="rewards-banner__content">
        <div class="top-content-wrpper">
            <div class=" top-content {% if section.settings.enable_border_top %} section_top_border {% endif %}">
                <div class="section-top-content">
                    {% if section.settings.intro != blank %}
                        <div class="rewards-banner__intro">
                            {{ section.settings.intro }}
                        </div>
                    {% endif %}
                    {% if section.settings.button_text != blank %}
                    <a href="{{ section.settings.button_link }}"  class="rewards-banner__button">{{ section.settings.button_text }}</a>
                    {% endif %}
                </div>
                {% if section.settings.title != blank %}
                    <h2 class="rewards-banner__title">
                        {{ section.settings.title }}
                    </h2>
                {% endif %}
                
            </div>
        </div>

      <div class="rewards-banner__steps{% if section.blocks.size == 0 %} hidden{% endif %}">
        {% if step_count != 0 %}
          {% for block in section.blocks %}
              {% if block.settings.points or block.settings.reward %}
                  <div class="rewards-banner__step">
                    {% if block.settings.points != blank  %}<span>{{ block.settings.points }}</span>{% endif %}
                    {% if block.settings.reward != blank  %}<span>{{ block.settings.reward }}</span>{% endif %}
                  </div>
              {% endif %}
          {% endfor %}
        {% endif %}
        {% if accordion_count != 0 %}
            <div class="accordion">
                {% for block in section.blocks %}
                {% if block.type == 'accordion' %}
                    <details class="accordion__item" {% if block.settings.open_by_default %} open {% endif %}>
                    <summary class="accordion__summary">
                        <span>{{ block.settings.title }}</span>
                        <span class="accordion__icon">
                          <span class="svg-wrapper plus-wrapper">
                            {{- 'icon-plus.svg' | inline_asset_content -}}
                          </span>
                          <span class="svg-wrapper minus-wrapper">
                            {{- 'icon-minus.svg' | inline_asset_content -}}
                          </span>
                        </span>
                    </summary>
                    <div class="accordion__content">
                        {{ block.settings.content }}
                    </div>
                    </details>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Rewards Banner",
  "settings": [
    {
      "type": "text",
      "id": "custom_class",
      "label": "Add class"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Enable full width",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section background",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 35
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 120,
      "default": 40,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 120,
      "default": 40,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Rockstar Rewards"
    },
    {
      "type": "range",
      "id": "title_size_desktop",
      "label": "Title size desktop",
      "min": 24,
      "max": 80,
      "default": 56
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "label": "Title size mobile",
      "min": 20,
      "max": 48,
      "default": 36
    },
    {
      "type": "inline_richtext",
      "id": "intro",
      "label": "Intro text"
    },
    {
        "type": "checkbox",
        "id": "enable_border_top",
        "label": "Enable top border",
        "default": false
    },
    {
        "type": "color",
        "id": "border_top_color",
        "label": "Border color",
        "default": "#000000",
        "visible_if": "{{ section.settings.enable_border_top == true }}"

    },
    {
      "type": "range",
      "id": "intro_size_desktop",
      "label": "Intro size desktop",
      "min": 12,
      "max": 24,
      "default": 16
    },
    {
      "type": "range",
      "id": "intro_size_mobile",
      "label": "Intro size mobile",
      "min": 12,
      "max": 24,
      "default": 14
    },
    {
      "type": "color",
      "id": "text_color_desktop",
      "label": "Text color desktop",
      "default": "#111111"
    },
    {
      "type": "color",
      "id": "text_color_mobile",
      "label": "Text color mobile",
      "default": "#FFFFFF"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Join now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "button_font_size",
      "label": "Button font size",
      "min": 12,
      "max": 20,
      "default": 16
    },
    {
      "type": "range",
      "id": "step_font_size_desktop",
      "label": "Step font size desktop",
      "min": 12,
      "max": 24,
      "default": 16
    },
    {
      "type": "range",
      "id": "step_font_size_mobile",
      "label": "Step font size mobile",
      "min": 12,
      "max": 20,
      "default": 14
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Reward step",
      "settings": [
        {
          "type": "text",
          "id": "points",
          "label": "Points",
          "default": "100 Points"
        },
        {
          "type": "text",
          "id": "reward",
          "label": "Reward",
          "default": "10% Off"
        }
      ]
    },
    {
      "type": "accordion",
      "name": "Accordion item",
      "settings": [
          {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "How do I earn points?"
          },
          {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>You earn points by shopping, signing up, and completing activities.</p>"
          },
          {
          "type": "checkbox",
          "id": "open_by_default",
          "label": "Open by default",
          "default": false
          }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rewards Banner"
    }
  ]
}
{% endschema %}
